snippet pytestmarkdfb "pytest fixture mark django database" b
@pytest.mark.django_db
endsnippet

snippet obj_create "Use django objects create function" b
$1.objects.create($2)
endsnippet

snippet obj_all "Use django objects all function" b
$1.objects.all()
endsnippet
